Binaries
DerivedDataCache
Intermediate
Saved
Content\OrcaGamesFullAnimBundle\Cardio_Machines_Gym\Meshes\SM_Power_Tower.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace